.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

main{
    padding-top: 50px;
}
p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 13px;
}

h3{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.qr{
    text-align: center;
}
img{
    border-radius: 10px;
    width: 240px;
    height: 240px;
}

.caixabranca{
    margin: auto;
    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 260px;
    padding: 10px 10px 150px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.04);
}

.textoprincipal{
    padding-top: 0;
   text-align: center;
    width: 250px
}